/* Base Application Styles */
html,body{
  width: 100%;
  height: 100%;
  background-color: #222;
}
.content{
  width: 100%; 
  height: 100%;
}

.stage{
  position: relative;

  width: 100%;
  height: 680px;
}

.img-sec{
  position: relative;

  width: 100%;
  height: 100%;
  overflow-y: scroll;

  background-color: #ddd;
  
  @at-root{
    .img-figure{
      position: absolute;
      top: 0;
      left: 0;

      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      
      background-color: #fff;

      box-sizing: boder-box;

      img{
        width: 100%;
        height: 100%;
      }

    }
    figcaption{
      text-align: center;

      .img-title{
        margin: 10px 0 0 0;
        color: dedede;
        font-size: 16px;
      }
    }
  }

}

.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;

  text-align: center;
}

